[Desktop Entry]
Name=The Elephant LightDM Greeter (Wayland)
Comment=Python LightDM Greeter
Exec=cage -m last -s -d elephant-greeter.py
Type=Application
X-LightDM-Session-Type=wayland

