[Desktop Entry]
Name=The Elephant LightDM Greeter (X11)
Comment=Python LightDM Greeter
Exec=elephant-greeter.py
Type=Application
X-LightDM-Session-Type=x

