[Desktop Entry]
Name=The Elephant LightDM Greeter (X11)
Comment=Small and simple LightDM Greeter written in Python, using X11
Exec=elephant-greeter.py
Type=Application
X-LightDM-Session-Type=x

