[Desktop Entry]
Name=The Elephant LightDM Greeter (Wayland)
Comment=Small and simple LightDM Greeter written in Python, using Cage (Wayland)
Exec=cage -m last -s -d elephant-greeter.py
Type=Application
X-LightDM-Session-Type=wayland

