[Desktop Entry]
Name=Unicorn Greeter (X11)
Comment=Small and simple LightDM Greeter written in Python, using X11
Exec=unicorn-greeter.py
Type=Application
X-LightDM-Session-Type=x

Name[en_US]=lightdm-unicorn-greeter-x11.desktop
