[Desktop Entry]
Name=Max Moser's LightDM Greeter
Comment=Python LightDM Greeter
Exec=cage -m last -s -d max-moser-greeter.py
Type=Application
X-LightDM-Session-Type=wayland

